<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Terms of Service Accepted:</strong>
  <%= @registration.terms_of_service %>
</p>

<p>
  <strong>Subscribe To Newsletter Accepted:</strong>
  <%= @registration.subscribe_to_newsletter %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>When</th>
  </tr>
  <% @registration.consent_changes.each do |cc| %>
  <tr>
    <th><%= cc.consent.type %></th>
    <th><%= cc.kind %></th>
    <th><%= cc.created_at %></th>
  </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
