<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Subscribe to Newsletter Accepted At:</strong>
  <%= @registration.subscribe_to_newsletter_accepted_at %>
</p>

<p>
  <strong>Terms of Service Accepted At:</strong>
  <%= @registration.terms_of_service_accepted_at %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
